/* ----------------------------------------------------------------------- */
/* System-Glass Theme by Deer ♡ - based on System24 by refact0r
/* ----------------------------------------------------------------------- */

body {
	container-name: body;
	
	/* ----------------------------------------------------------------------- */
	/* Toggles
	/* ----------------------------------------------------------------------- */
	
	/* decide if you want square or rounded avatars. | Options: off, on */
	--SquareAvatars: on;
	/* set the user online status appearance. outlines look better with square avatars | Options: off, on */
	--OutlineOnlineStatus: on;
	/* decide if you want bubbles to highlight message groups. | Options: off, on 
	/* see also: --ThemeMessageBubbleColor */
	--MessageBubbles: off;
	/* decide if you want panel labels. looks better without a background image | Options: off, on */
	--ThemePanelLabels: on;
	/* overwrites fluxer's panel rounding in most places | Options: off, on
	/* see also: --ThemeRoundingMultiplier */
	--UseDefaultRounding: off; 
	/* decide if you want to disable some additional animations added by the theme | Options: off, on */
	--ExtraAnimations: on;
	/* set a custom app icon in the top left corner | Options: off, on */
	--CustomAppIcon: off;
	/* link to your custom icon. currently it HAS to be hosted on fluxer's servers */
	--ThemeCustomIconUrl: url('');
	/* [Experimental] Controls the server list position. Options: off | on */
	--Horizontal-Serverlist: off;
	/* Controls the server list alignment. only works with horizontal serverlist enabled. Options: left | center | right */
	--Serverlist-Alignment: left;
}

:root {
	/* ----------------------------------------------------------------------- */
	/* Colors & default theme overrides
	/* ----------------------------------------------------------------------- */
	
	--brand-primary: rgb(230, 143, 254);
	--brand-secondary: rgb(154, 78, 167);
	
	--ThemeMessageBubbleColor: rgba(255, 255, 255, .06);

	--ThemeFlatPrimary: #191919;
	--ThemeFlatLighter: hsl(0, 0%, 16%);
	--ThemeFlatDarker: #141414;

	--ThemeDarkenLight: #00000044;
	--ThemeDarkenMedium: #00000088;
	--ThemeBrightenLight: rgba(255, 255, 255, .06);
	--ThemeBrightenMedium: rgba(255, 255, 255, .15);
	
	/* color overrides */
	--background-primary: var(--ThemeFlatDarker);
	--background-secondary: var(--ThemeFlatPrimary);
	--background-secondary-alt: var(--ThemeFlatLighter); /* mainly used in for mobile view*/
	--background-tertiary: var(--ThemeFlatLighter); /* mainly used in for mobile view*/
	--background-textarea: var(--ThemeDarkenLight); /* used in search bars */
	--status-danger: #f24562; /* notification badges */
	
	/* ----------------------------------------------------------------------- */
	/* Fonts & Text
	/* ----------------------------------------------------------------------- */

	/* change to '' for fluxer's default font */
	--font-sans: 'DM Mono', sans-serif;
	/* change to '' for fluxer's default font */
	--font-mono: 'DM Mono';
	/* 300 is light, 400 is normal. DOES NOT AFFECT BOLD TEXT */
	font-weight: 300;
	/* decreases letter spacing for better readability. recommended on monospace fonts.*/
	letter-spacing: -0.03ch;
	
	/* ----------------------------------------------------------------------- */
	/* Background
	/* ----------------------------------------------------------------------- */
	
	/* Background Image | fluxer currently only allows using images hosted on their own servers.
	/* theres a list of presets further below, named --bg-1 to --bg-5. of course, you can also use your own images. */
	--background-image: var(--bg-2);
	/* fallback color behind the background image. can be used to give your bg image a tint */
	--ThemeBackgroundColor: hsl(0, 0%, 11%);
	/* Image position | center, left, right, bottom, top */
	--backgroundPosition: top;
	/* To cover the entire app, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */
	--backgroundSize: cover;
	/* if you want the image to repeat */
	--backgroundRepeat: no-repeat;
	/* Set to 0 to remove blur. i recommend leaving this off and tweaking --ThemePanelBlur instead */
	--backgroundBlur: 0px;
	/* 0 is fully transparent, 1 is fully opaque */
	--backgroundOpacity: 0;
	
	/* ----------------------------------------------------------------------- */
	/* screen overlay effect */
	/* ----------------------------------------------------------------------- */
	
	/* screen overlay texture opacity. by default its a film grain effect */
	--ThemeOverlayOpacity: 0.2;
	--screen-overlay: url('https://fluxerusercontent.com/attachments/1474610319297830991/1481397623233222422/Noise_Texture.png');

	/* ----------------------------------------------------------------------- */
	/* panels
	/* ----------------------------------------------------------------------- */
	
	/* gap between panels */
	--ThemePanelMargin: 12px;
	/* panel bg blur strength */
	--ThemePanelBlur: 0px;
	/* bg blur strength for tooltips, context panels etc*/
	--ThemePanelBlurSmall: 0px;
	/* panel */
	--ThemePanelBGColor: hsl(0, 0%, 10%);
	/* panel hovered */
	--ThemePanelBGColorHovered: hsl(0, 0%, 10%);
	/* background color for tooltips, context panels etc */
	--ThemePanelContextBGColor: hsl(0, 0%, 14%);
	/* background color for media picker, notification inbox, search filters, pins etc */
	--ThemePanelModalBGColor: hsl(0, 0%, 14%);
	/* panel border thickness */
	--ThemePanelBorderThickness: 3px;
	/* panel border rounding */
	--ThemePanelBorderRounding: 0px;
	/* panel border color (not hovered) */
	--ThemePanelBorderColor: hsl(0, 0%, 19%);
	/* panel border color (hovered) */
	--ThemePanelBorderColorHovered: var(--brand-primary);
	
	/* you can ignore these */
	--ThemePanelBorder: var(--ThemePanelBorderThickness) solid var(--ThemePanelBorderColor);
	--ThemePanelBorderHovered: var(--ThemePanelBorderThickness) solid var(--ThemePanelBorderColorHovered);
	
	/* ----------------------------------------------------------------------- */
	/* rounding
	/* ----------------------------------------------------------------------- */

	/* change this value to control the ui's overall rounding strength 
	* 1 is the default, 0 removes most rounding. */
	--ThemeRoundingMultiplier: 0;
	
	/* leave these alone unless you know what youre doing */
	--radius-sm: calc(0.25rem * var(--ThemeRoundingMultiplier));
	--radius-md: calc(0.375rem * var(--ThemeRoundingMultiplier));
	--radius-lg: calc(0.5rem * var(--ThemeRoundingMultiplier));
	--radius-xl: calc(0.75rem * var(--ThemeRoundingMultiplier));
	--radius-2xl: calc(1rem * var(--ThemeRoundingMultiplier));
	--radius-full: calc(9999px * var(--ThemeRoundingMultiplier));
	--media-border-radius: calc(4px * var(--ThemeRoundingMultiplier));
	--message-reply-spine-radius: calc(6px * var(--ThemeRoundingMultiplier));

	/* ----------------------------------------------------------------------- */
	/* background presets (credits to ThaSilentArtist)
	/* ----------------------------------------------------------------------- */
	--bg-1: url("https://fluxerusercontent.com/attachments/1474610319297830991/1481279988511911959/41511cd77e70.png");
	--bg-2: url("https://fluxerusercontent.com/attachments/1474610319297830991/1481670714326512122/a8082672504ec71.gif");
	--bg-3: url("https://fluxerusercontent.com/attachments/1474610319297830991/1481671197485134759/rocket_thasilentartist.png");
}